.intro {
  max-width: 984px;
}
.intro__title {
  width: 830px;
  height: 173.92px;
  top: 1269px;
  left: 148px;
  color: #ffffff;
  font-family: "Inter", "Arial", sans-serif;
  font-size: 54px;
  font-weight: 900;
  line-height: 58px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  padding-left: 148px;
  margin: 0 auto;
  padding-bottom: 39.98px;
}
.intro__content {
  color: #ffffff;
  width: 738px;
  height: 135.66px;
  top: 1482.91px;
  left: 148px;
  font-family: "Inter", "Arial", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 34px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  padding-left: 148px;
  margin: 0;
  padding-bottom: 10px;
}
.intro__author {
  width: 732px;
  height: 33.91px;
  top: 1628.56px;
  left: 148px;
  font-family: "Inter", "Arial", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 34px;
  text-align: right;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #ffffff;
  margin: 0 auto;
  padding-bottom: 31.99px;
}
.intro__text {
  width: 722px;
  height: 181.54px;
  top: 1694.46px;
  left: 148px;
  font-family: "Inter", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 26.08px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #ffffff;
  padding-left: 148px;
  padding-bottom: 92px;
}
@media screen and (min-width: 545px) and (max-width: 1024px) {
  .intro__title {
    width: 707px;
    height: 147px;
    font-size: 45px;
    line-height: 49px;
  }
  .intro__content {
    width: 720px;
  }
  .intro__author {
    width: 720px;
  }
  .intro__text {
    width: 720px;
  }
}
@media screen and (min-width: 320px) and (max-width: 544px) {
  .intro__title {
    width: 288px;
    height: 175px;
    font-size: 32px;
    line-height: 35px;
  }
  .intro__content {
    width: 288px;
    height: 300px;
    line-height: 30px;
  }
  .intro__author {
    width: 288px;
  }
  .intro__text {
    width: 288px;
    height: 442px;
  }
}
