.lead {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.lead__title {
  width: 720px;
  height: 200px;
  font-family: "Inter", "Arial", sans-serif;
  font-size: 96px;
  font-weight: 900;
  line-height: 100px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #ffffff;
  margin: 0 auto;
  padding-bottom: 32px;
}
.lead__subtitle {
  width: 100%;
  height: 72px;
  top: 426px;
  left: 280px;
  font-family: "Inter", "Arial", sans-serif;
  font-size: 30px;
  font-weight: 400;
  line-height: 36px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  margin: 0 auto;
  color: #ffffff;
  padding-bottom: 64px;
}
.lead__image {
  width: 90%;
  height: 615px;
  top: 562px;
  left: 148px;
  margin: 0 auto;
  padding-bottom: 92px;
}
@media screen and (min-width: 545px) and (max-width: 1024px) {
  .lead__title {
    width: 530px;
    height: 158px;
    font-size: 75px;
    line-height: 79px;
    padding-left: 0;
  }
  .lead__image {
    width: 100%;
    height: 480px;
    padding-left: 0;
  }
}
@media screen and (min-width: 320px) and (max-width: 544px) {
  .lead__title {
    width: 228px;
    height: 88px;
    font-size: 40px;
    line-height: 44px;
    padding-left: 0;
  }
  .lead__subtitle {
    width: 288px;
    height: 40px;
    font-size: 16px;
    line-height: 20px;
    padding-left: 0;
  }
  .lead__image {
    width: 320px;
    height: 200px;
    padding-left: 0;
  }
}
